In [1]:
#standard
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
#custom
from titeseq_functions import *
from titeseq_modeling import *
from protein_onehotencoder import *

/sw/pkgs/arc/python3.9-anaconda/2021.11/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
fit_data_save_location = '/scratch/gthurber_root/gthurber0/marcase/titeseq/fit_data/'
binary_data = pd.read_csv(fit_data_save_location+'binary_bloom2022.csv')
continuous_data = pd.read_csv(fit_data_save_location+'continuous_bloom2022.csv')
binary_data

,sequence,ratios,mean,count,std,min,max
0,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,"[251.5190705499922, 65.90442867465799, 55.8477...",29.582242,35,42.984073,0.051049,251.519071
1,NITNLCPFDEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[144.67323846938865],144.673238,1,0.000000,144.673238,144.673238
2,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[159.06909353232712],159.069094,1,0.000000,159.069094,159.069094
3,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[23.686796982990945],23.686797,1,0.000000,23.686797,23.686797
4,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,"[163.1530240466359, 38.235799440215985, 18.888...",13.754095,42,25.799569,0.153147,163.153024
...,...,...,...,...,...,...,...
75966,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[1.225179154292635],1.225179,1,0.000000,1.225179,1.225179
75967,NITNLCPFGEVFNATRFASVYAWTRKRISNCVAYYSVLYNSASFS...,[1.4804248114369338],1.480425,1,0.000000,1.480425,1.480425
75968,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSAGFS...,[1.8377687314389526],1.837769,1,0.000000,1.837769,1.837769
75969,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[3.879733988593344],3.879734,1,0.000000,3.879734,3.879734
75970,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSSSFS...,[5.411207931459138],5.411208,1,0.000000,5.411208,5.411208

In [3]:
continuous_data

,sequence,Kds,mean,count,std
0,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,"[3.2927081345449904e-08, 7.862162152770024e-07...",1.601152e-07,15,3.784540e-07
1,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,"[1.072726884839601e-08, 1.0553483846502093e-08...",2.670977e-08,33,4.654992e-08
2,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,"[2.8125311010685614e-09, 1.18378918408883e-09,...",2.638456e-09,25,2.190593e-09
3,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,"[8.101692111850255e-09, 2.1214838792587013e-09...",1.361575e-08,41,2.676073e-08
4,NITNLCPFGEVFNATRFASVYAENRKRISNCVADYSVLYNSASFS...,"[8.285952069807347e-06, 5.510779964128036e-06,...",1.976634e-06,11,3.233718e-06
...,...,...,...,...,...
68677,NITNLCPFGEVFNATRFASVYAWNRKRNSNCVADYSVLYNSASFS...,[5.396585178005522e-08],5.396585e-08,1,0.000000e+00
68678,NITNLCPFGEVFNATRFASVYAWNRIRISNCVADYSVLYNSASFS...,[8.593898456303798e-09],8.593898e-09,1,0.000000e+00
68679,NITLLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[6.039575630247964e-10],6.039576e-10,1,0.000000e+00
68680,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[3.049046420818843e-08],3.049046e-08,1,0.000000e+00
68681,NITNLCPFGEVFNATRFASVYAWNRKRISNCVADYSVLYNSASFS...,[1.349975727164546e-09],1.349976e-09,1,0.000000e+00